@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'plugins/char_counter.min.css';


// Froala

.fr-box.fr-basic.fr-top .fr-wrapper {
box-shadow: 0!important;
background: #ebeff2;
border: 0;
p {
	color: #333;
}
}

// Variables

$purple: #4264fb;
$lightpurple: lighten($purple, 10%);
$grey: #999;
$bold: "Muli";
$medium: "Muli";
$light: "Muli";
$boxshadow: 1px 2px 3px rgba(0,0,0,0.1);


// Stats

.stats {
	list-style: none;
	text-align: center;
	box-shadow: $boxshadow;
	background: white;
	padding: 40px 20px;
	li {
		border-right: 1px solid #eee;
		.number {
			font-size: 3rem;
			font-family: $bold;
	}
		.number-details {
			display: block;
			font-family: $medium;
			margin-top: 10px;
			color: $lightpurple;
		}
		span {
			font-size: 1rem;
			line-height: 1rem;
		}
	}
}
// Tipography


.main-h1 {
	font-size: 2rem;
	margin-bottom: 30px;
	display: table;
	position: relative;
	&:after {
		content: "";
		width: 7px;
		border-radius: 50%;
		height: 7px;
		background: none;
		display: inline-block;
		background: #4264fb;
		position: absolute;
		right: -10px;
		top: 0;
	}
}


h1,h2,h3,h4,h5,h6 {
	font-family: "Muli";
	color: #1f3349;
	font-weight: 700;
}

p,span, body, input {
	font-family: "Muli";
	font-weight: 500;
}

p {
	font-size: 0.9rem;
	color: #b4b1c1;
}

a {
	font-family: "Muli";
	font-weight: 600;
}

.lightgrey {
	color: #ccc;
}

.credits {
	p {color: white;}
	a {
		font-family: $bold;
		color: white;
		&:hover {
			color: white;
		}
	}
}
// Alerts

.alert {
	background: white;
	text-align: center;
	font-family: $medium;
}
.faded-alert {
	color: #ccc;
	width: 60%;
	margin: auto;
	margin-top: 19%;
}

// Landing

.landing {
	text-align: center;
	.landing-logo {
		width: 300px;
	}
}

// Layout
.margin-auto {margin: auto;}
.no-margin { margin: 0!important; }
.float-right { float: right; }
.margin-top { margin-top: 30px; }
.semi-margin-top {margin-top: 15px;}
.main-page { padding-top:10px; }

// Buttons

.btn-add {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding: 0;
	padding-top: 3px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	i {
		font-size: 3rem;
		text-align: left;
		padding: 0;
	}
}

.btn-circle {
	padding: 10px;
 	background: lighten(#293541, 63%);
 	border-radius: 50%;
 	width: 40px;
 	height: 40px;
}


// Ribbons

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#293541 0%, #293541 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #293541;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #293541;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #293541;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #293541;
}

// Extras

.date {
	width: 100px;
	height: 80px;
	background-color: lighten($purple, 63%);
	border-radius: 10px;
	position: relative;
	
	&:before {
		content: '';
		display: block;
		width:100px;
		height: 80px;
		border-radius: 10px 10px 10px 10px;
		background: lighten($purple, 34%);

	}
	
	header {
		width: 100px;
		height: 27px;
		position: absolute;
		top: -1px;
		background-color: $purple;
		border-radius: 10px 10px 0 0;
		border-bottom: 3px solid #e5e5e5;
		letter-spacing: 0.5px;
		color: #fff;
		text-align: center;
	}
	section {
		width: 100px;
		height: 80px;
		position: absolute;
		top: 13px;
		font-family: $bold;
		font-size: 3rem;
		letter-spacing: -2px;
		color: #293541;
		font-weight: 700;
		text-align: center;		
		z-index: 10;
		border-radius: 0 0 4px 4px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 28px;
			width: 3px;
			height: 10px;
			background: white;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 28px;
			right: 0;			
			width: 3px;
			height: 10px;
			background: white;
		}
		
	}
}

// Forms

input {
	font-weight: 100;
}

label {
	vertical-align: top;
    padding-top: 8px;
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 10px;
	color: #556b81;
}

.form-actions > html [type="button"], [type="reset"], [type="submit"] {
	width: 100%!important;
}

// Menus

.menu-principal {
	background-image: -webkit-linear-gradient(top left, #7753eb, #4264fb);
	background-image: -o-linear-gradient(top left, #7753eb, #4264fb);
	background-image: linear-gradient(to bottom right, #7753eb, #4264fb);
	padding-top: 5%;
	ul {
		list-style: none;
		margin-left: 0;
	    width: 100%;
	    margin: auto;
	    margin-left: 0;
	    padding: 0 20px;
	    margin-top: 50px;
		li {
			color: #fff;
			line-height: 4rem;
			font-weight: 500;
			display: block;
			padding-left: 20px;
			vertical-align: middle;
			cursor: pointer;
			&:hover {
				border-radius: 9999px;
				background: rgba(0,0,0,0.3);
				cursor: pointer;
  				-webkit-transform: scale(1.1);
        		-ms-transform: scale(1.1);
        		transform: scale(1.1);
			}
			i {
				display: inline-block;
				vertical-align: middle;
				margin-right: 6px;
				font-size: 2rem;
			}
		}
	}
}
body {
	background: linear-gradient(to bottom right,#7753eb,#4264fb) no-repeat;
	height: 100vh;

}
.main-page {
	background:none;
}

.dashboard-header {
	background: #f3eff5;
	padding: 10px 25px;
	h1 {
		padding: 0;
		margin: 0;
		font-weight: 700;
		font-size: 1.5rem;
	}
}

.main-header {
	margin-bottom: 40px;
}
.dashboard {
	background: #ebeff2;
	padding: 0;
	.dashboard-inner {
		padding: 20px 40px;
		padding-top: 80px;
	}
}

.card-title {
	padding: 10px;
}

.project-details {
	text-align: right;
	padding-left:0!important;
}

.btn-small {
	padding: 5px;
	font-size: 0.8rem;
	cursor: pointer;
}

// Tables

thead {
	background: white;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
}
th {
	border-right: 1px solid #eee;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-family: "Muli";
}
tr {
	font-family: "Muli";
	font-weight: 600;
	background: rgba(255,255,255,0.4);
}
td {
	font-size: 0.9rem;
	font-weight: 500;
}
td button {
	padding: 5px;
}

a {
	color: #556b81;
	&:hover {
		color: #4264fb;
		text-decoration: none;
	}
}

.logo-container {
	width: 100%;
	text-align: center;
}

.logo {
	width: 160px;
	margin: auto;
}

.editable {
	cursor: pointer;
	color: #556b81;
	margin-left: 10px;
}


.main-dashboard-header {
	margin-top: 20px;
	margin-bottom: 0px;
	text-align: right;
	margin-right: 40px;
	position: fixed;
	right: 30px;
	z-index: 9999;
}

.card {
	box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
	border: 1px solid #f5f5f5;
	background: #fff;
	color: white;
}


.form-control, select, optgroup, textarea, .form-control:focus, input {
	background: white;
	color: #556b81;
	border: 1px solid lighten(#556b81, 50%);
	border-radius: 2px;
	font-family: "Muli";
	font-weight: 700;
	height: 40px;
}

.form-new {
	width: 30%;
	border-radius: 4px;
	margin: auto;
	padding: 40px;
	background: white;
}

.width100 {
	width: 100%;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

// Buttons

.btn-primary, .btn-secondary, button, html [type="button"], [type="reset"], [type="submit"] {
	display: inline-block;
    background-color: #4264fb;
    color: #fff;
    border: 0;
    border-radius: 9999px;
    padding: 12px 24px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    transition: background-color .125s,border-color .125s,color .125s;
	&:hover {
		background: darken(#4264fb, 10%);
	}
}

.btn-secondary {
	background: rgba(0,0,0,0.3);
}
.cliente {
	padding: 20px;
    margin-bottom: 16px;
    margin-right: 2px;
}

.client-title {
	display: inline-block;
	font-size: 1.1rem;
	margin-bottom: 0px;
}
.project-title {
	font-size: 0.7rem;
	font-family: "Muli"!important;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
	color: #4264fb;
	margin: 0;
	padding-top: 0;
}
.finished,.finished span{
	cursor: pointer;
	background: #6ef3b0;
	font-weight: 500;
	font-size: 0.6rem;
	text-transform: uppercase;
	font-family: "Muli"!important;
	border-radius: 4px;
	display: inline-block;
	padding: 5px;
	text-align: center;
	width: 80px;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
}
.notfinished, .notfinished span{
	cursor: pointer;
	background: #f36e9d;
	font-weight: 500;
	font-size: 0.6rem;
	text-transform: uppercase;
	font-family: "Muli"!important;
	border-radius: 4px;
	display: inline-block;
	padding: 5px;
	text-align: center;
	width: 80px;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
}

.finished-1, .finished-2, .finished-3, .finished-4, .no-state {
	background: $purple;
	width: 120px;
}

.finished-1 {
	background: $grey;
}
.finished-2 {
	background: #f3cc6e;
}
.finished-3 {
	background: #f36e9d;
}
.finished-4 {
	background: #6ef3b0;
}
.no-state {
	background: #ddd;
}
.sub-menu {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
	li {
		padding: 2px;
		button {
			font-weight: 700;
			border: 0;
			background: #fff;
		width: 100%;
		padding: 15px 20px;
		color: #4264fb;
		}
	}
}


.menu-actions {
	background: #4264fb;
	padding: 20px 0;
	color: #fff;
	margin: 0;
}


// Icons

@font-face {
  font-family: 'icomoon';
  src:  font-url('icomoon.eot?m07tkn');
  src:  font-url('icomoon.eot?m07tkn#iefix') format('embedded-opentype'),
    font-url('icomoon.ttf?m07tkn') format('truetype'),
    font-url('icomoon.woff?m07tkn') format('woff'),
    font-url('icomoon.svg?m07tkn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box:before {
  content: "\e900";
}
.icon-write:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-reply:before {
  content: "\e903";
}
.icon-reply-all:before {
  content: "\e904";
}
.icon-forward:before {
  content: "\e905";
}
.icon-flag:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-trash:before {
  content: "\e908";
}
.icon-envelope:before {
  content: "\e909";
}
.icon-bubble:before {
  content: "\e90a";
}
.icon-bubbles:before {
  content: "\e90b";
}
.icon-user:before {
  content: "\e90c";
}
.icon-users:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-download:before {
  content: "\e90f";
}
.icon-upload:before {
  content: "\e910";
}
.icon-rain:before {
  content: "\e911";
}
.icon-sun:before {
  content: "\e912";
}
.icon-moon:before {
  content: "\e913";
}
.icon-bell:before {
  content: "\e914";
}
.icon-folder:before {
  content: "\e915";
}
.icon-pin:before {
  content: "\e916";
}
.icon-sound:before {
  content: "\e917";
}
.icon-microphone:before {
  content: "\e918";
}
.icon-camera:before {
  content: "\e919";
}
.icon-image:before {
  content: "\e91a";
}
.icon-cog:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-book:before {
  content: "\e91d";
}
.icon-map-marker:before {
  content: "\e91e";
}
.icon-store:before {
  content: "\e91f";
}
.icon-support:before {
  content: "\e920";
}
.icon-tag:before {
  content: "\e921";
}
.icon-heart:before {
  content: "\e922";
}
.icon-video-camera:before {
  content: "\e923";
}
.icon-trophy:before {
  content: "\e924";
}
.icon-cart:before {
  content: "\e925";
}
.icon-eye:before {
  content: "\e926";
}
.icon-cancel:before {
  content: "\e927";
}
.icon-chart:before {
  content: "\e928";
}
.icon-target:before {
  content: "\e929";
}
.icon-printer:before {
  content: "\e92a";
}
.icon-location:before {
  content: "\e92b";
}
.icon-bookmark:before {
  content: "\e92c";
}
.icon-monitor:before {
  content: "\e92d";
}
.icon-cross:before {
  content: "\e92e";
}
.icon-plus:before {
  content: "\e92f";
}
.icon-left:before {
  content: "\e930";
}
.icon-up:before {
  content: "\e931";
}
.icon-browser:before {
  content: "\e932";
}
.icon-windows:before {
  content: "\e933";
}
.icon-switch:before {
  content: "\e934";
}
.icon-dashboard:before {
  content: "\e935";
}
.icon-play:before {
  content: "\e936";
}
.icon-fast-forward:before {
  content: "\e937";
}
.icon-next:before {
  content: "\e938";
}
.icon-refresh:before {
  content: "\e939";
}
.icon-film:before {
  content: "\e93a";
}
.icon-home:before {
  content: "\e93b";
}

.wide-form {width: 60%;margin-top: 40px;
	h1 {
		margin-bottom: 30px;
	}
 label {
		font-family: "Muli";
	}}
.btn-small {
	border-radius: 4px;
	background: rgba(0,0,0,0.1);
	text-transform: uppercase;
	font-size: 0.7rem;
	padding: 2px 10px;
}

.dataTables_wrapper .row {
	width: 100%;
}

.paginate_button {margin-right: 20px;}
.dataTables_wrapper label {
	justify-content: left;
	margin-bottom: 20px;
	margin-right: 5px;
}
.dataTables_wrapper select {
	margin-right: 5px;
	margin-left: 5px;
}

.dataTables_wrapper input {
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 4px;
}